<!DOCTYPE html>
<html>
<head>
<script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
</head>

<body style="background:#0b1220;color:white">

<h2>💬 Chat System</h2>

<div id="chat"></div>

<input id="msg">
<button onclick="send()">Send</button>

<script>
var socket = io();

socket.on("message", function(data){
    document.getElementById("chat").innerHTML +=
    "<p><b>"+data.user+":</b> "+data.msg+"</p>"
});

function send(){
    socket.send(document.getElementById("msg").value)
    document.getElementById("msg").value=""
}
</script>

</body>
</html>
