<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="topbar">
    <h2>📊 Admin Dashboard</h2>
    <a href="/logout">Logout</a>
</div>

<!-- ADS -->
<div class="ads">
    📢 {{ads}}
</div>

<div class="grid">

<div class="card">🤖 Bots <br><b>{{stats.bots}}</b></div>
<div class="card">👥 Users <br><b>{{stats.users}}</b></div>
<div class="card">📥 Downloads <br><b>{{stats.downloads}}</b></div>
<div class="card">📡 Channels <br><b>{{stats.channels}}</b></div>

</div>

<div class="card full">
    🏆 Top User: {{top}}
</div>

<!-- BROADCAST -->
<div class="card full">
    <h3>📢 Broadcast</h3>

    <form method="POST" action="/broadcast">
        <input type="text" name="message" placeholder="Write message">
        <button type="submit">Send</button>
    </form>
</div>

</body>
</html>
